
\.DS_Store
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/IP_Gerechten.iml
.idea/modules/IP_Gerechten.main.iml
.idea/modules/IP_Gerechten.test.iml
.idea/vcs.xml
